<div class="sidebar-content">
  <h4>
    Manage Shows
  </h2>

  <%= simple_form_for @show do |f| %>
    <%= f.input :rss_url, label: "RSS Feed or SoundCloud Homepage" %>
    <% if @show.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @show.errors.each do |error| %>
        <% if error == :retrieve_data %>
        <li>We couldn't retrieve any data from that location. Are you sure you submitted a valid URL?</li>
        <% elsif error == :parse_data %>
        <li>We couldn't parse any podcast data from that location. Are you sure you submitted a valid URL?</li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% end %>
    <%= f.submit "Subscribe", class: "submit" %>
    <% end %>

    <div class="shows-grid">
    <% @shows.each do |show| %>
    <div class="show-show">
      <%= link_to show.title, show_path(show) %>
    </div>
    <div class="show-delete">
      <%= link_to "Delete", show_path(show), method: :delete %>
    </div>
    <%# raise %>
    <% end %>
  </div>


  <%= link_to "Subscribed URLs", subscriptions_path %>

</div>
